Source: syndicatefs
Section: libs
Priority: optional
Maintainer: Zack Williams, University of Arizona <zdw@cs.arizona.edu>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), libattr1-dev, libfuse-dev, pkg-config, libsyndicate1-dev, libsyndicate-ug1-dev, libfskit1-dev, libfskit-fuse1-dev, libprotobuf-dev, libcurl-dev

Package: syndicatefs
Architecture: any
Pre-Depends: ${misc:PreDepends}
Depends:  ${shlibs:Depends},
          ${misc:Depends}
Description: Syndicate Filesystem Client
  This is a user gateway that implements a FUSE filesystem. It lets you mount a
  Syndicate volume in your filesystem hierarchy.

